<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yzh.web.mapper.JsClassrecordUpMapper">
  <resultMap id="BaseResultMap" type="org.yzh.web.model.entity.JsClassrecordUp">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rnum" jdbcType="CHAR" property="rnum" />
    <result column="stunum" jdbcType="CHAR" property="stunum" />
    <result column="coachnum" jdbcType="CHAR" property="coachnum" />
    <result column="classId" jdbcType="CHAR" property="classid" />
    <result column="subjcode" jdbcType="CHAR" property="subjcode" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="uptype" jdbcType="INTEGER" property="uptype" />
    <result column="maxspeed" jdbcType="VARCHAR" property="maxspeed" />
    <result column="mileage" jdbcType="VARCHAR" property="mileage" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rnum, stunum, coachnum, classId, subjcode, status, uptype, maxspeed, mileage, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from js_classrecord_up
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from js_classrecord_up
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.yzh.web.model.entity.JsClassrecordUp">
    insert into js_classrecord_up (id, rnum, stunum, coachnum, 
      classId, subjcode, status, 
      uptype, maxspeed, mileage, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{rnum,jdbcType=CHAR}, #{stunum,jdbcType=CHAR}, #{coachnum,jdbcType=CHAR}, 
      #{classid,jdbcType=CHAR}, #{subjcode,jdbcType=CHAR}, #{status,jdbcType=INTEGER}, 
      #{uptype,jdbcType=INTEGER}, #{maxspeed,jdbcType=VARCHAR}, #{mileage,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.yzh.web.model.entity.JsClassrecordUp">
    insert into js_classrecord_up
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rnum != null">
        rnum,
      </if>
      <if test="stunum != null">
        stunum,
      </if>
      <if test="coachnum != null">
        coachnum,
      </if>
      <if test="classid != null">
        classId,
      </if>
      <if test="subjcode != null">
        subjcode,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="uptype != null">
        uptype,
      </if>
      <if test="maxspeed != null">
        maxspeed,
      </if>
      <if test="mileage != null">
        mileage,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rnum != null">
        #{rnum,jdbcType=CHAR},
      </if>
      <if test="stunum != null">
        #{stunum,jdbcType=CHAR},
      </if>
      <if test="coachnum != null">
        #{coachnum,jdbcType=CHAR},
      </if>
      <if test="classid != null">
        #{classid,jdbcType=CHAR},
      </if>
      <if test="subjcode != null">
        #{subjcode,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="uptype != null">
        #{uptype,jdbcType=INTEGER},
      </if>
      <if test="maxspeed != null">
        #{maxspeed,jdbcType=VARCHAR},
      </if>
      <if test="mileage != null">
        #{mileage,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.yzh.web.model.entity.JsClassrecordUp">
    update js_classrecord_up
    <set>
      <if test="rnum != null">
        rnum = #{rnum,jdbcType=CHAR},
      </if>
      <if test="stunum != null">
        stunum = #{stunum,jdbcType=CHAR},
      </if>
      <if test="coachnum != null">
        coachnum = #{coachnum,jdbcType=CHAR},
      </if>
      <if test="classid != null">
        classId = #{classid,jdbcType=CHAR},
      </if>
      <if test="subjcode != null">
        subjcode = #{subjcode,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="uptype != null">
        uptype = #{uptype,jdbcType=INTEGER},
      </if>
      <if test="maxspeed != null">
        maxspeed = #{maxspeed,jdbcType=VARCHAR},
      </if>
      <if test="mileage != null">
        mileage = #{mileage,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.yzh.web.model.entity.JsClassrecordUp">
    update js_classrecord_up
    set rnum = #{rnum,jdbcType=CHAR},
      stunum = #{stunum,jdbcType=CHAR},
      coachnum = #{coachnum,jdbcType=CHAR},
      classId = #{classid,jdbcType=CHAR},
      subjcode = #{subjcode,jdbcType=CHAR},
      status = #{status,jdbcType=INTEGER},
      uptype = #{uptype,jdbcType=INTEGER},
      maxspeed = #{maxspeed,jdbcType=VARCHAR},
      mileage = #{mileage,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="org.yzh.web.model.entity.JsClassrecordUp">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rnum" jdbcType="CHAR" property="rnum" />
    <result column="stunum" jdbcType="CHAR" property="stunum" />
    <result column="coachnum" jdbcType="CHAR" property="coachnum" />
    <result column="classId" jdbcType="CHAR" property="classid" />
    <result column="subjcode" jdbcType="CHAR" property="subjcode" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="maxspeed" jdbcType="VARCHAR" property="maxspeed" />
    <result column="mileage" jdbcType="VARCHAR" property="mileage" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rnum, stunum, coachnum, classId, subjcode, status, maxspeed, mileage, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from js_classrecord_up
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from js_classrecord_up
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.yzh.web.model.entity.JsClassrecordUp">
    insert into js_classrecord_up (id, rnum, stunum, coachnum, 
      classId, subjcode, status, 
      maxspeed, mileage, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{rnum,jdbcType=CHAR}, #{stunum,jdbcType=CHAR}, #{coachnum,jdbcType=CHAR}, 
      #{classid,jdbcType=CHAR}, #{subjcode,jdbcType=CHAR}, #{status,jdbcType=INTEGER}, 
      #{maxspeed,jdbcType=VARCHAR}, #{mileage,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.yzh.web.model.entity.JsClassrecordUp">
    insert into js_classrecord_up
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rnum != null">
        rnum,
      </if>
      <if test="stunum != null">
        stunum,
      </if>
      <if test="coachnum != null">
        coachnum,
      </if>
      <if test="classid != null">
        classId,
      </if>
      <if test="subjcode != null">
        subjcode,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="maxspeed != null">
        maxspeed,
      </if>
      <if test="mileage != null">
        mileage,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rnum != null">
        #{rnum,jdbcType=CHAR},
      </if>
      <if test="stunum != null">
        #{stunum,jdbcType=CHAR},
      </if>
      <if test="coachnum != null">
        #{coachnum,jdbcType=CHAR},
      </if>
      <if test="classid != null">
        #{classid,jdbcType=CHAR},
      </if>
      <if test="subjcode != null">
        #{subjcode,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="maxspeed != null">
        #{maxspeed,jdbcType=VARCHAR},
      </if>
      <if test="mileage != null">
        #{mileage,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.yzh.web.model.entity.JsClassrecordUp">
    update js_classrecord_up
    <set>
      <if test="rnum != null">
        rnum = #{rnum,jdbcType=CHAR},
      </if>
      <if test="stunum != null">
        stunum = #{stunum,jdbcType=CHAR},
      </if>
      <if test="coachnum != null">
        coachnum = #{coachnum,jdbcType=CHAR},
      </if>
      <if test="classid != null">
        classId = #{classid,jdbcType=CHAR},
      </if>
      <if test="subjcode != null">
        subjcode = #{subjcode,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="maxspeed != null">
        maxspeed = #{maxspeed,jdbcType=VARCHAR},
      </if>
      <if test="mileage != null">
        mileage = #{mileage,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.yzh.web.model.entity.JsClassrecordUp">
    update js_classrecord_up
    set rnum = #{rnum,jdbcType=CHAR},
      stunum = #{stunum,jdbcType=CHAR},
      coachnum = #{coachnum,jdbcType=CHAR},
      classId = #{classid,jdbcType=CHAR},
      subjcode = #{subjcode,jdbcType=CHAR},
      status = #{status,jdbcType=INTEGER},
      maxspeed = #{maxspeed,jdbcType=VARCHAR},
      mileage = #{mileage,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>