<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yzh.web.mapper.JsCoachLoginRecordMapper">
  <resultMap id="BaseResultMap" type="org.yzh.web.model.entity.JsCoachLoginRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="coachnum" jdbcType="CHAR" property="coachnum" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="logout_time" jdbcType="TIMESTAMP" property="logoutTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, coachnum, login_time, logout_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from js_coach_login_record
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getLastRecord" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from js_coach_login_record
    where coachnum = #{coachnum,jdbcType=CHAR} order by id desc limit 1;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from js_coach_login_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.yzh.web.model.entity.JsCoachLoginRecord">
    insert into js_coach_login_record (id, coachnum, login_time, 
      logout_time)
    values (#{id,jdbcType=INTEGER}, #{coachnum,jdbcType=CHAR}, #{loginTime,jdbcType=TIMESTAMP}, 
      #{logoutTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.yzh.web.model.entity.JsCoachLoginRecord">
    insert into js_coach_login_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="coachnum != null">
        coachnum,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="logoutTime != null">
        logout_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="coachnum != null">
        #{coachnum,jdbcType=CHAR},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logoutTime != null">
        #{logoutTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.yzh.web.model.entity.JsCoachLoginRecord">
    update js_coach_login_record
    <set>
      <if test="coachnum != null">
        coachnum = #{coachnum,jdbcType=CHAR},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logoutTime != null">
        logout_time = #{logoutTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.yzh.web.model.entity.JsCoachLoginRecord">
    update js_coach_login_record
    set coachnum = #{coachnum,jdbcType=CHAR},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      logout_time = #{logoutTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>