<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yzh.web.mapper.JsPlatLoginRecordMapper">
  <resultMap id="BaseResultMap" type="org.yzh.web.model.entity.JsPlatLoginRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="plat_id" jdbcType="VARCHAR" property="platId" />
    <result column="error_code" jdbcType="INTEGER" property="errorCode" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, plat_id, error_code, login_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from js_plat_login_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from js_plat_login_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.yzh.web.model.entity.JsPlatLoginRecord">
    insert into js_plat_login_record (id, plat_id, error_code, 
      login_time)
    values (#{id,jdbcType=INTEGER}, #{platId,jdbcType=VARCHAR}, #{errorCode,jdbcType=INTEGER}, 
      #{loginTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.yzh.web.model.entity.JsPlatLoginRecord">
    insert into js_plat_login_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="platId != null">
        plat_id,
      </if>
      <if test="errorCode != null">
        error_code,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="platId != null">
        #{platId,jdbcType=VARCHAR},
      </if>
      <if test="errorCode != null">
        #{errorCode,jdbcType=INTEGER},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.yzh.web.model.entity.JsPlatLoginRecord">
    update js_plat_login_record
    <set>
      <if test="platId != null">
        plat_id = #{platId,jdbcType=VARCHAR},
      </if>
      <if test="errorCode != null">
        error_code = #{errorCode,jdbcType=INTEGER},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.yzh.web.model.entity.JsPlatLoginRecord">
    update js_plat_login_record
    set plat_id = #{platId,jdbcType=VARCHAR},
      error_code = #{errorCode,jdbcType=INTEGER},
      login_time = #{loginTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>