<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yzh.web.mapper.JsTerminalAppConfigMapper">
  <resultMap id="BaseResultMap" type="org.yzh.web.model.entity.JsTerminalAppConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="inscode" jdbcType="CHAR" property="inscode" />
    <result column="devnum" jdbcType="CHAR" property="devnum" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="param_no" jdbcType="TINYINT" property="paramNo" />
    <result column="photo_time" jdbcType="SMALLINT" property="photoTime" />
    <result column="up_set" jdbcType="INTEGER" property="upSet" />
    <result column="is_read_add" jdbcType="INTEGER" property="isReadAdd" />
    <result column="class_delay_time" jdbcType="SMALLINT" property="classDelayTime" />
    <result column="up_time" jdbcType="INTEGER" property="upTime" />
    <result column="coach_delay_time" jdbcType="SMALLINT" property="coachDelayTime" />
    <result column="verify_time" jdbcType="SMALLINT" property="verifyTime" />
    <result column="is_coach_across" jdbcType="INTEGER" property="isCoachAcross" />
    <result column="is_student_across" jdbcType="INTEGER" property="isStudentAcross" />
    <result column="response_time" jdbcType="SMALLINT" property="responseTime" />
    <result column="down_status" jdbcType="INTEGER" property="downStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, inscode, devnum, phone, param_no, photo_time, up_set, is_read_add, class_delay_time, 
    up_time, coach_delay_time, verify_time, is_coach_across, is_student_across, response_time, 
    down_status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from js_terminal_app_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from js_terminal_app_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.yzh.web.model.entity.JsTerminalAppConfig">
    insert into js_terminal_app_config (id, inscode, devnum, 
      phone, param_no, photo_time, 
      up_set, is_read_add, class_delay_time, 
      up_time, coach_delay_time, verify_time, 
      is_coach_across, is_student_across, response_time, 
      down_status, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{inscode,jdbcType=CHAR}, #{devnum,jdbcType=CHAR}, 
      #{phone,jdbcType=CHAR}, #{paramNo,jdbcType=TINYINT}, #{photoTime,jdbcType=SMALLINT}, 
      #{upSet,jdbcType=INTEGER}, #{isReadAdd,jdbcType=INTEGER}, #{classDelayTime,jdbcType=SMALLINT}, 
      #{upTime,jdbcType=INTEGER}, #{coachDelayTime,jdbcType=SMALLINT}, #{verifyTime,jdbcType=SMALLINT}, 
      #{isCoachAcross,jdbcType=INTEGER}, #{isStudentAcross,jdbcType=INTEGER}, #{responseTime,jdbcType=SMALLINT}, 
      #{downStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.yzh.web.model.entity.JsTerminalAppConfig">
    insert into js_terminal_app_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="inscode != null">
        inscode,
      </if>
      <if test="devnum != null">
        devnum,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="paramNo != null">
        param_no,
      </if>
      <if test="photoTime != null">
        photo_time,
      </if>
      <if test="upSet != null">
        up_set,
      </if>
      <if test="isReadAdd != null">
        is_read_add,
      </if>
      <if test="classDelayTime != null">
        class_delay_time,
      </if>
      <if test="upTime != null">
        up_time,
      </if>
      <if test="coachDelayTime != null">
        coach_delay_time,
      </if>
      <if test="verifyTime != null">
        verify_time,
      </if>
      <if test="isCoachAcross != null">
        is_coach_across,
      </if>
      <if test="isStudentAcross != null">
        is_student_across,
      </if>
      <if test="responseTime != null">
        response_time,
      </if>
      <if test="downStatus != null">
        down_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="inscode != null">
        #{inscode,jdbcType=CHAR},
      </if>
      <if test="devnum != null">
        #{devnum,jdbcType=CHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=CHAR},
      </if>
      <if test="paramNo != null">
        #{paramNo,jdbcType=TINYINT},
      </if>
      <if test="photoTime != null">
        #{photoTime,jdbcType=SMALLINT},
      </if>
      <if test="upSet != null">
        #{upSet,jdbcType=INTEGER},
      </if>
      <if test="isReadAdd != null">
        #{isReadAdd,jdbcType=INTEGER},
      </if>
      <if test="classDelayTime != null">
        #{classDelayTime,jdbcType=SMALLINT},
      </if>
      <if test="upTime != null">
        #{upTime,jdbcType=INTEGER},
      </if>
      <if test="coachDelayTime != null">
        #{coachDelayTime,jdbcType=SMALLINT},
      </if>
      <if test="verifyTime != null">
        #{verifyTime,jdbcType=SMALLINT},
      </if>
      <if test="isCoachAcross != null">
        #{isCoachAcross,jdbcType=INTEGER},
      </if>
      <if test="isStudentAcross != null">
        #{isStudentAcross,jdbcType=INTEGER},
      </if>
      <if test="responseTime != null">
        #{responseTime,jdbcType=SMALLINT},
      </if>
      <if test="downStatus != null">
        #{downStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.yzh.web.model.entity.JsTerminalAppConfig">
    update js_terminal_app_config
    <set>
      <if test="inscode != null">
        inscode = #{inscode,jdbcType=CHAR},
      </if>
      <if test="devnum != null">
        devnum = #{devnum,jdbcType=CHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="paramNo != null">
        param_no = #{paramNo,jdbcType=TINYINT},
      </if>
      <if test="photoTime != null">
        photo_time = #{photoTime,jdbcType=SMALLINT},
      </if>
      <if test="upSet != null">
        up_set = #{upSet,jdbcType=INTEGER},
      </if>
      <if test="isReadAdd != null">
        is_read_add = #{isReadAdd,jdbcType=INTEGER},
      </if>
      <if test="classDelayTime != null">
        class_delay_time = #{classDelayTime,jdbcType=SMALLINT},
      </if>
      <if test="upTime != null">
        up_time = #{upTime,jdbcType=INTEGER},
      </if>
      <if test="coachDelayTime != null">
        coach_delay_time = #{coachDelayTime,jdbcType=SMALLINT},
      </if>
      <if test="verifyTime != null">
        verify_time = #{verifyTime,jdbcType=SMALLINT},
      </if>
      <if test="isCoachAcross != null">
        is_coach_across = #{isCoachAcross,jdbcType=INTEGER},
      </if>
      <if test="isStudentAcross != null">
        is_student_across = #{isStudentAcross,jdbcType=INTEGER},
      </if>
      <if test="responseTime != null">
        response_time = #{responseTime,jdbcType=SMALLINT},
      </if>
      <if test="downStatus != null">
        down_status = #{downStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.yzh.web.model.entity.JsTerminalAppConfig">
    update js_terminal_app_config
    set inscode = #{inscode,jdbcType=CHAR},
      devnum = #{devnum,jdbcType=CHAR},
      phone = #{phone,jdbcType=CHAR},
      param_no = #{paramNo,jdbcType=TINYINT},
      photo_time = #{photoTime,jdbcType=SMALLINT},
      up_set = #{upSet,jdbcType=INTEGER},
      is_read_add = #{isReadAdd,jdbcType=INTEGER},
      class_delay_time = #{classDelayTime,jdbcType=SMALLINT},
      up_time = #{upTime,jdbcType=INTEGER},
      coach_delay_time = #{coachDelayTime,jdbcType=SMALLINT},
      verify_time = #{verifyTime,jdbcType=SMALLINT},
      is_coach_across = #{isCoachAcross,jdbcType=INTEGER},
      is_student_across = #{isStudentAcross,jdbcType=INTEGER},
      response_time = #{responseTime,jdbcType=SMALLINT},
      down_status = #{downStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByStatus" parameterType="org.yzh.web.model.entity.JsTerminalAppConfig">
    update js_terminal_app_config
    <set>
      <if test="downStatus != null">
        down_status = #{downStatus,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <where>
      <if test="phone != null">
        and phone = #{phone,jdbcType=CHAR}
      </if>

    </where>
  </update>
</mapper>