<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yzh.web.mapper.JsTrainLocationMapper">
  <resultMap id="BaseResultMap" type="org.yzh.web.model.entity.JsTrainLocation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="devnum" jdbcType="VARCHAR" property="devnum" />
    <result column="mark_id" jdbcType="INTEGER" property="markId" />
    <result column="device_time" jdbcType="TIMESTAMP" property="deviceTime" />
    <result column="mobile_no" jdbcType="VARCHAR" property="mobileNo" />
    <result column="plate_no" jdbcType="CHAR" property="plateNo" />
    <result column="warning_mark" jdbcType="INTEGER" property="warningMark" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="latitude" jdbcType="INTEGER" property="latitude" />
    <result column="longitude" jdbcType="INTEGER" property="longitude" />
    <result column="drive_speed" jdbcType="INTEGER" property="driveSpeed" />
    <result column="star_speed" jdbcType="INTEGER" property="starSpeed" />
    <result column="engine_speed" jdbcType="INTEGER" property="engineSpeed" />
    <result column="direction" jdbcType="INTEGER" property="direction" />
    <result column="map_fence_id" jdbcType="INTEGER" property="mapFenceId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, devnum, mark_id, device_time, mobile_no, plate_no, warning_mark, status, 
    latitude, longitude, drive_speed, star_speed, direction, map_fence_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from js_train_location
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from js_train_location
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.yzh.web.model.entity.JsTrainLocation">
    insert into js_train_location (id, type, devnum, 
      mark_id, device_time, mobile_no, 
      plate_no, warning_mark, status, 
      latitude, longitude, drive_speed, 
      star_speed,engine_speed, direction, map_fence_id,
      create_time)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{devnum,jdbcType=VARCHAR}, 
      #{markId,jdbcType=INTEGER}, #{deviceTime,jdbcType=TIMESTAMP}, #{mobileNo,jdbcType=VARCHAR},
      #{plateNo,jdbcType=CHAR}, #{warningMark,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{latitude,jdbcType=INTEGER}, #{longitude,jdbcType=INTEGER}, #{driveSpeed,jdbcType=INTEGER},
      #{starSpeed,jdbcType=INTEGER},#{engineSpeed,jdbcType=INTEGER}, #{direction,jdbcType=INTEGER}, #{mapFenceId,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.yzh.web.model.entity.JsTrainLocation">
    insert into js_train_location
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="devnum != null">
        devnum,
      </if>
      <if test="markId != null">
        mark_id,
      </if>
      <if test="deviceTime != null">
        device_time,
      </if>
      <if test="mobileNo != null">
        mobile_no,
      </if>
      <if test="plateNo != null">
        plate_no,
      </if>
      <if test="warningMark != null">
        warning_mark,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="driveSpeed != null">
        drive_speed,
      </if>
      <if test="starSpeed != null">
        star_speed,
      </if>
      <if test="engineSpeed != null">
        engine_speed,
      </if>
      <if test="direction != null">
        direction,
      </if>
      <if test="mapFenceId != null">
        map_fence_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="devnum != null">
        #{devnum,jdbcType=VARCHAR},
      </if>
      <if test="markId != null">
        #{markId,jdbcType=INTEGER},
      </if>
      <if test="deviceTime != null">
        #{deviceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mobileNo != null">
        #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="plateNo != null">
        #{plateNo,jdbcType=CHAR},
      </if>
      <if test="warningMark != null">
        #{warningMark,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=INTEGER},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=INTEGER},
      </if>
      <if test="driveSpeed != null">
        #{driveSpeed,jdbcType=INTEGER},
      </if>
      <if test="starSpeed != null">
        #{starSpeed,jdbcType=INTEGER},
      </if>
      <if test="engineSpeed != null">
        #{engineSpeed,jdbcType=INTEGER},
      </if>
      <if test="direction != null">
        #{direction,jdbcType=INTEGER},
      </if>
      <if test="mapFenceId != null">
        #{mapFenceId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.yzh.web.model.entity.JsTrainLocation">
    update js_train_location
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="devnum != null">
        devnum = #{devnum,jdbcType=VARCHAR},
      </if>
      <if test="markId != null">
        mark_id = #{markId,jdbcType=INTEGER},
      </if>
      <if test="deviceTime != null">
        device_time = #{deviceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mobileNo != null">
        mobile_no = #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="plateNo != null">
        plate_no = #{plateNo,jdbcType=CHAR},
      </if>
      <if test="warningMark != null">
        warning_mark = #{warningMark,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=INTEGER},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=INTEGER},
      </if>
      <if test="driveSpeed != null">
        drive_speed = #{driveSpeed,jdbcType=INTEGER},
      </if>
      <if test="starSpeed != null">
        star_speed = #{starSpeed,jdbcType=INTEGER},
      </if>
      <if test="engineSpeed != null">
        engine_speed = #{engineSpeed,jdbcType=INTEGER},
      </if>
      <if test="direction != null">
        direction = #{direction,jdbcType=INTEGER},
      </if>
      <if test="mapFenceId != null">
        map_fence_id = #{mapFenceId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.yzh.web.model.entity.JsTrainLocation">
    update js_train_location
    set type = #{type,jdbcType=INTEGER},
      devnum = #{devnum,jdbcType=VARCHAR},
      mark_id = #{markId,jdbcType=INTEGER},
      device_time = #{deviceTime,jdbcType=TIMESTAMP},
      mobile_no = #{mobileNo,jdbcType=VARCHAR},
      plate_no = #{plateNo,jdbcType=CHAR},
      warning_mark = #{warningMark,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      latitude = #{latitude,jdbcType=INTEGER},
      longitude = #{longitude,jdbcType=INTEGER},
      drive_speed = #{driveSpeed,jdbcType=INTEGER},
      star_speed = #{starSpeed,jdbcType=INTEGER},
      engine_speed = #{engineSpeed,jdbcType=INTEGER},
      direction = #{direction,jdbcType=INTEGER},
      map_fence_id = #{mapFenceId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>