<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yzh.web.mapper.JsUserStudentMapper">
  <resultMap id="BaseResultMap" type="org.yzh.web.model.entity.JsUserStudent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stunum" jdbcType="CHAR" property="stunum" />
    <result column="inscode" jdbcType="CHAR" property="inscode" />
    <result column="cardtype" jdbcType="VARCHAR" property="cardtype" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="nationality" jdbcType="VARCHAR" property="nationality" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="fingerprint" jdbcType="VARCHAR" property="fingerprint" />
    <result column="busitype" jdbcType="VARCHAR" property="busitype" />
    <result column="drilicnum" jdbcType="VARCHAR" property="drilicnum" />
    <result column="fstdrilicdate" jdbcType="VARCHAR" property="fstdrilicdate" />
    <result column="perdritype" jdbcType="VARCHAR" property="perdritype" />
    <result column="traintype" jdbcType="VARCHAR" property="traintype" />
    <result column="applydate" jdbcType="VARCHAR" property="applydate" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="total_study_time" jdbcType="INTEGER" property="totalStudyTime" />
    <result column="now_study_time" jdbcType="INTEGER" property="nowStudyTime" />
    <result column="total_study_km" jdbcType="INTEGER" property="totalStudyKm" />
    <result column="now_study_km" jdbcType="INTEGER" property="nowStudyKm" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stunum, inscode, cardtype, idcard, nationality, name, sex, phone, address, photo, 
    fingerprint, busitype, drilicnum, fstdrilicdate, perdritype, traintype, applydate, 
    sort, create_time, update_time, total_study_time, now_study_time, total_study_km, 
    now_study_km, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from js_user_student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByStunum" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from js_user_student
    where stunum = #{stunum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from js_user_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.yzh.web.model.entity.JsUserStudent">
    insert into js_user_student (id, stunum, inscode, 
      cardtype, idcard, nationality, 
      name, sex, phone, address, 
      photo, fingerprint, busitype, 
      drilicnum, fstdrilicdate, perdritype, 
      traintype, applydate, sort, 
      create_time, update_time, total_study_time, 
      now_study_time, total_study_km, now_study_km, 
      status)
    values (#{id,jdbcType=INTEGER}, #{stunum,jdbcType=CHAR}, #{inscode,jdbcType=CHAR}, 
      #{cardtype,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{nationality,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{photo,jdbcType=VARCHAR}, #{fingerprint,jdbcType=VARCHAR}, #{busitype,jdbcType=VARCHAR}, 
      #{drilicnum,jdbcType=VARCHAR}, #{fstdrilicdate,jdbcType=VARCHAR}, #{perdritype,jdbcType=VARCHAR}, 
      #{traintype,jdbcType=VARCHAR}, #{applydate,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{totalStudyTime,jdbcType=INTEGER}, 
      #{nowStudyTime,jdbcType=INTEGER}, #{totalStudyKm,jdbcType=INTEGER}, #{nowStudyKm,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.yzh.web.model.entity.JsUserStudent">
    insert into js_user_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stunum != null">
        stunum,
      </if>
      <if test="inscode != null">
        inscode,
      </if>
      <if test="cardtype != null">
        cardtype,
      </if>
      <if test="idcard != null">
        idcard,
      </if>
      <if test="nationality != null">
        nationality,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="fingerprint != null">
        fingerprint,
      </if>
      <if test="busitype != null">
        busitype,
      </if>
      <if test="drilicnum != null">
        drilicnum,
      </if>
      <if test="fstdrilicdate != null">
        fstdrilicdate,
      </if>
      <if test="perdritype != null">
        perdritype,
      </if>
      <if test="traintype != null">
        traintype,
      </if>
      <if test="applydate != null">
        applydate,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="totalStudyTime != null">
        total_study_time,
      </if>
      <if test="nowStudyTime != null">
        now_study_time,
      </if>
      <if test="totalStudyKm != null">
        total_study_km,
      </if>
      <if test="nowStudyKm != null">
        now_study_km,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stunum != null">
        #{stunum,jdbcType=CHAR},
      </if>
      <if test="inscode != null">
        #{inscode,jdbcType=CHAR},
      </if>
      <if test="cardtype != null">
        #{cardtype,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="nationality != null">
        #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="fingerprint != null">
        #{fingerprint,jdbcType=VARCHAR},
      </if>
      <if test="busitype != null">
        #{busitype,jdbcType=VARCHAR},
      </if>
      <if test="drilicnum != null">
        #{drilicnum,jdbcType=VARCHAR},
      </if>
      <if test="fstdrilicdate != null">
        #{fstdrilicdate,jdbcType=VARCHAR},
      </if>
      <if test="perdritype != null">
        #{perdritype,jdbcType=VARCHAR},
      </if>
      <if test="traintype != null">
        #{traintype,jdbcType=VARCHAR},
      </if>
      <if test="applydate != null">
        #{applydate,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalStudyTime != null">
        #{totalStudyTime,jdbcType=INTEGER},
      </if>
      <if test="nowStudyTime != null">
        #{nowStudyTime,jdbcType=INTEGER},
      </if>
      <if test="totalStudyKm != null">
        #{totalStudyKm,jdbcType=INTEGER},
      </if>
      <if test="nowStudyKm != null">
        #{nowStudyKm,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.yzh.web.model.entity.JsUserStudent">
    update js_user_student
    <set>
      <if test="stunum != null">
        stunum = #{stunum,jdbcType=CHAR},
      </if>
      <if test="inscode != null">
        inscode = #{inscode,jdbcType=CHAR},
      </if>
      <if test="cardtype != null">
        cardtype = #{cardtype,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="nationality != null">
        nationality = #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="fingerprint != null">
        fingerprint = #{fingerprint,jdbcType=VARCHAR},
      </if>
      <if test="busitype != null">
        busitype = #{busitype,jdbcType=VARCHAR},
      </if>
      <if test="drilicnum != null">
        drilicnum = #{drilicnum,jdbcType=VARCHAR},
      </if>
      <if test="fstdrilicdate != null">
        fstdrilicdate = #{fstdrilicdate,jdbcType=VARCHAR},
      </if>
      <if test="perdritype != null">
        perdritype = #{perdritype,jdbcType=VARCHAR},
      </if>
      <if test="traintype != null">
        traintype = #{traintype,jdbcType=VARCHAR},
      </if>
      <if test="applydate != null">
        applydate = #{applydate,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalStudyTime != null">
        total_study_time = #{totalStudyTime,jdbcType=INTEGER},
      </if>
      <if test="nowStudyTime != null">
        now_study_time = #{nowStudyTime,jdbcType=INTEGER},
      </if>
      <if test="totalStudyKm != null">
        total_study_km = #{totalStudyKm,jdbcType=INTEGER},
      </if>
      <if test="nowStudyKm != null">
        now_study_km = #{nowStudyKm,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.yzh.web.model.entity.JsUserStudent">
    update js_user_student
    set stunum = #{stunum,jdbcType=CHAR},
      inscode = #{inscode,jdbcType=CHAR},
      cardtype = #{cardtype,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      nationality = #{nationality,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      fingerprint = #{fingerprint,jdbcType=VARCHAR},
      busitype = #{busitype,jdbcType=VARCHAR},
      drilicnum = #{drilicnum,jdbcType=VARCHAR},
      fstdrilicdate = #{fstdrilicdate,jdbcType=VARCHAR},
      perdritype = #{perdritype,jdbcType=VARCHAR},
      traintype = #{traintype,jdbcType=VARCHAR},
      applydate = #{applydate,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      total_study_time = #{totalStudyTime,jdbcType=INTEGER},
      now_study_time = #{nowStudyTime,jdbcType=INTEGER},
      total_study_km = #{totalStudyKm,jdbcType=INTEGER},
      now_study_km = #{nowStudyKm,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>